.empty{
    height: 100%;
    background-color: pink;
    width: 70%;
}
.zero{
    height: 10%;
    width:100%;
    background-color:purple;
    padding-top: 30px;
}
.qty{
    margin-left: 50px;
}
 .three{
     margin-left: 20%;
    background-color:burlywood;
 }
.fith{ 
    margin-left: 30px;
}
.two{
    width: 5%;
}

.col-md-2{
    background-color: purple;
}




























































































































































































3